$black0: #0a0d0c;
$black1: #191919;
$black2: #2a2a2a;
$gray0: #3e3e3e;
$gray1: #5a5a5a;
$gray15: #777777;
$gray2: #999999;
$gray3: #b5b5b5;
$gray3: #c2c2c2;
$gray4: #d8d8d8;
$white0: #e6e6e6;
$white1: #ffffff;

$green0: #0d1a18;
$green1: #004841;
$green2: #02dcc7;
$green3: #d4e6e4;

$darkgold: #423114;
$orange: #fec966;
$red: #ff4800;
