<div
    class="node glass-shadow"
    [ngStyle]="{ 'left.px': x, 'top.px': y, 'width.px': width, 'z-index': z }"
    [ngClass]="{ selected: selected, shadowed: shadowed, expanded: expanded }"
    #rootElement
>
    <div class="node-status node-status-{{ status }}" [hidden]="!status"></div>

    <div class="node-inside">
        <div class="node-header">
            <button class="expander">
                <i class="icon-lsi-right-arrow" [hidden]="expanded"></i>
                <i class="icon-lsi-down-arrow" [hidden]="!expanded"></i>
            </button>
            <div class="title">{{ plugin?.title }}</div>
        </div>
        <div class="node-content">
            <div class="inputs-outputs">
                <div class="inputs">
                    @for (input of inputs; track $index) {
                        <div class="input">
                            <div class="node-inlet" [attr.node-inlet-i]="$index"></div>
                            <span>{{ input.name }}</span>
                            <span class="required" [hidden]="!input.required">*</span>
                        </div>
                    }
                </div>
                <div class="outputs">
                    @for (output of outputs; track $index) {
                        <div class="output">
                            <span>{{ output.name }}</span>
                            <div class="node-outlet" [attr.node-outlet-i]="$index"></div>
                        </div>
                    }
                </div>
            </div>
            @if (expanded) {
                <div class="node-form">
                    <app-node-settings [uiConfig]="uiConfig"></app-node-settings>
                </div>
            }
        </div>
    </div>
</div>
