<div class="container">
    <div class="editor" [style]="{ width: leftWidth + 'px' }">
        <ngx-monaco-editor style="height: 100%; width: 100%;" [options]="editorOptions" [(ngModel)]="ict"
            (ngModelChange)="updateModel($event)"></ngx-monaco-editor>
    </div>
    <div class="vertical-mover" (mousedown)="mouseDown($event, 'vertical')"></div>
    <div class="preview">
        <div class="preview-content" [style]="{ height: topHeight + 'px' }">
            <app-node [plugin]="plugin"></app-node>
        </div>
        <div class="horizontal-mover" (mousedown)="mouseDown($event, 'horizontal')"></div>
        <div class="preview-console">
            <textarea>{{consoleText}}</textarea>
        </div>
    </div>
</div>